certifi==2022.6.15
charset-normalizer==2.1.1
code==0.0.0
-e git+ssh://git@github.com/TEST-TASKS-COLLECTION/Twitter-BioScrapper.git@77ed424673279734dc45f675cd22c6cfac7dd373#egg=codes
idna==3.3
requests==2.28.1
urllib3==1.26.12
